.main-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 2rem auto 2rem auto;
  text-align: left;
}

.loading{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.blog-post-container {
  width: 100%;
  height: auto;
  margin-top: 10rem;
}

.blog-post-info {
  width: 100%;
  height: auto;
 
}
.blog-post-info h1 {
  line-height: 1.1;
  font-size: 4.6875rem; 
  margin-bottom:1rem;
}


.blog-post-author {
  width: auto;
  max-width: 300px;
  height: auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}


.blog-post-author span#auth-date {
  font-style: italic;
  color: gray;
  font-size: 14px;
}

.blog-post-author-profile {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.blog-post-author-profile img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  object-fit: cover;
  border: 1px solid var(--secondary-color);
  margin-right:1rem;
}

.blog-post-content {
  margin: 4rem 0;
}

.blog-post-mainImage {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.blog-post-mainImage img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

@media (min-width:1280px){
.blog-post-container{
  width:85%;
  margin:0 auto;
}

.blog-post-info h1 {
  font-size: 3.6875rem; 
}


}
@media (min-width:1440px){
  .main-container {
    width: 100%;
  
  }
}