.container{
    width:90%;
    height:auto;
    border-radius: 12px;
    background-color: #fff;
    margin:0 auto;
    padding:1.25rem 1.5rem;
    margin-bottom:5rem;
}

.amen-text{
    margin:2rem 0;
}

.amen-text h2{
    line-height: 1.2;
    font-size: 1.5rem;
    text-align: center;
}
.amen-text h2 span{
    color:var(--primary-color);
}

.amen-list{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:4rem 0;
}
.amen-list * p{
    font-size: 1.1rem;
    line-height: 1.2;
    width:200px;
}

.amen-list__label{
    height:auto;
    width:auto;
    margin:1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/* Tablet */
@media (max-width:768px){

}

/* Desktop */
@media (max-width:1024px){

}

/* LG Desktop */

@media (max-width:1440px){

}
