
:root{
    --fs-sm:16px;
  }

/* Mobile First */

.nav{
    /* padding:1rem .5rem; */
   
}
.mobileNav{
    display:block;
    background:#ffffff;
}

.desktopNav{display: none;}

.mobileNav,.desktopNav{
    width:100%;
    height:auto;
}
.notification{
    width:auto;
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}
.logo{
    font-family:'Comfortaa', sans-serif;
    font-weight:700;
    font-size:1.3rem;
    letter-spacing:-1px;
    color:var(--primary-color);
}

.fa.active{
    color:var(--primary-color);
}

button.active{
    color:var(--black);
    font-weight: bolder;
}

.fa.inactive,button.inactive{color:var(--icon-color)}


.mobile-links{
    position:fixed;
    padding: 10px 1rem;
    bottom:0;
    width:100vw;
    background:#ffffff;
    height:auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

button{
    background: none;
    border:none;
    display:flex;
    width:auto;
    height:auto;
    justify-content: center;
    align-items:center;
    flex-direction:column;   
}

button > p{
    font-size:12px;
    letter-spacing:1px; 
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
}
/* iphone 8 height 667 */
@media screen and (height:667px){
.mobile-links{
    padding:14px;
}
}


    /* Tablet */
@media (min-width:768px){

}

/* Desktop */
@media (min-width:1280px){
.nav{
    /* padding:1rem .5rem;
    background-color: transparent;  */
}
    .mobileNav{
        display:none;
    }
    .desktopNav{
        width:85%;
        padding:1rem 0rem;
        height:auto;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items:center;
        
    }

    .desktopNav .logo{
        font-size: 1.75rem;
    }

    .desktop-links ul li,.user-access ul li{
        display:inline;
       
    }
    .desktop-links ul li{
        margin:0 20px;
        font-size: 13px;
        font-family:'Comfortaa', sans-serif;
        font-weight: 700;
        color:#ffffff;
    }

    .desktop-links ul li a:hover{
        color: var(--primary-color);
    }

    .user-access ul li a{
        padding: 7px 15px;
        border:1px solid #ffffff;
        border-radius:50px;
        margin:0 10px;
        font-size: 12px;
        
    }

    .user-access ul li a#login{
        color:#ffffff;
       
    }

    .user-access ul li a#login:hover{
        background-color: var(--primary-color);
        border:1px solid var(--primary-color);

    }

    .user-access ul li a#sign-up{
        background-color:#ffffff;
        
    }

    .user-access ul li a#sign-up:hover{
        background-color: var(--primary-color);
        border:1px solid var(--primary-color);
        color:black;
    }
}

/* Desktop */

@media (min-width:1920px){

}