
/* Trips */
.trip-hero{
    position:absolute;
    z-index:-10;
    width:100%;
    height:80vh;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(../../assets/killian-pham-Sq8rpq2KB7U-unsplash.jpg);
    background-position: center;
    background-size: cover;
  }

  .trip-hero:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.1);
  }

  .trip-hero span#trip-tag{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color:#fff;
    
  }

  .hero-text a{
    padding:8px 25px;
    border:2px solid var(--primary-color);
    border-radius: 25px;
    color:#fff;

  }
  
  
  @media (min-width:1280px){
    .hero-text h1{
        font-size:8rem;
      }
  }