
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

:root{
  --primary-color:#6BD0D6;
  --secondary-color:#f76642;
  --icon-color:#C8C8C8;
  --black:#000000;
}



body{
  font-family: 'Comfortaa', sans-serif
}

* a{
  transition: 250ms all ease-in-out;
}

