

.hero-bkg{
    width:100%;
    height:calc(100vh - 125px);
    position:absolute;
    z-index:-10;
    background-image: url('../../assets/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top:63.19px;
}

.hero-bkg:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.4);
  }